body{
background-color:grey;
}

#header{
background-color:black;
color:white;
padding:10px;
font-size:45px;
height:50px;
border:10px;
margin:10px;
border-radius:5px;
text-align:center;
}
#navbar{
margin:10px;
background-color:black;
color:white;
text-align:center;
height:25px;
padding:10px;
border:10px;
border-radius:5px;
}
ul{
list-style:none;
padding:0px;
margin:0px;
}
li{
display:inline;
vertical-align:middle;
}
a{
color:white;
font-size:20px;
vertical-align:middle;
text-decoration:none;
margin-right:10px;
margin-bottom:10px;
margin-top:10px;
}
a:hover{
color:black;
background-color:white;
}
#main{
background-color:black;
border-radius:5px;
margin:10px;
height:500px;
padding:20px;
}
#footer{
margin:10px;
background-color:black;
color:white;
text-align:center;
height:25px;
padding:10px;
border:10px;
border-radius:5px;
}
#bro{
display:inline;
margin-left:50px;
}
#h{
margin-left:100px;
vertical-align:middle;
background-color:black;
}
#hola{
background-color:skyblue;
margin-left:400px;
margin-right:400px;
border-radius:5px;
text-align:center;
}
#hola li{
display:block;
}
span{
background-color:white;
padding:5px;
}
#fe{
background-color:lightgrey;
margin-left:10px;
margin-right:10px;
margin-bottom:10px;
margin-top:10px;
border-radius:5px;
padding:10px;
float:right;
width:260px;
border:2px solid black;
}

.de{
background-color:lightgrey;
margin-left:10px;
margin-right:720px;
margin-bottom:10px;
margin-top:0px;
width:150px;
border-radius:5px;
padding:20px;
border:2px solid black;
}

.ded{
background-color:lightgrey;
margin-left:10px;
margin-right:720px;
margin-bottom:10px;
margin-top:20px;
width:150px;
border-radius:5px;
border:2px solid black;
padding:20px;
}
.te{
display:block;
}
#ter ul{
list-style:bullet;
}
.date{
background-color:lightgrey;
margin-left:500px;
margin-right:500px;
width:400px;
border-radius:5px;
border:2px solid black;
padding:20px;
border:2px solid black;
}
#you{
background-color:lightgrey;
margin-left:10px;
margin-right:10px;
margin-bottom:10px;
margin-top:10px;
border:2px solid black;
border-radius:5px;
padding:10px;
float:right;
width:260px;
}
#ter{
background-color:lightgrey;
margin-left:600px;
margin-right:600px;
width:200px;
border-radius:5px;
border:2px solid black;
padding:20px;
}


@media(max-width:600px){
#ter{
background-color:lightgrey;
margin-left:100px;
margin-right:1000px;
width:200px;
border-radius:5px;
border:2px solid black;
padding:10px;
}
.date{
background-color:lightgrey;
margin-left:100px;
margin-right:1000px;
width:200px;
border-radius:5px;
border:2px solid black;
padding:10px;
}
#hola{
display:none;
}
}


h3{
text-align:center;
}
#cont{
color:white;
background-color:black;
font-size:30px;
margin-left:150px;
margin-right:150px;
margin-bottom:10px;
margin-top:10px;
border-radius:5px;
padding:10px;
}  
#foot{
margin-left:350px;
margin-right:350px;
margin-bottom:10px;
margin-top:10px;
background-color:black;
color:white;
text-align:center;
height:25px;
padding:10px;
border:10px;
border-radius:5px;
}
.bb:hover{
background-color:black;
color:white;
}
#sub{
margin-left:700px;
margin-right:700px;
}
#img{
background-color:black;
padiing:10px;
opacity:1;
position:absolute;
top:240px;
left:475px;
width:100px;
height:100px;
}
@media (max-width:1300px){
#img{
display:none;
}
}
#HOME{
position:absolute;
top:30px;
left:30px;
}
#pay{
color:white;
background-color:black;
height:400px;
font-size:25px;
margin-left:150px;
margin-right:150px;
margin-bottom:10px;
margin-top:10px;
border-radius:5px;
padding:10px;
}
.boo{
text-align:center;
}
.details{
a:hover{
color:black;
display:block;
background-color:white;
}
}